<header class="header">
  <div class="left">
    <div class="logo">
      <img src="/images/logo.png" alt="logo" routerLink="/">
    </div>
    <h1 class="title">Image Processor</h1>
  </div>

  <!-- Show login if not logged in -->
  <button 
    *ngIf="!isLoggedIn" 
    class="auth-btn" 
    (click)="navigateToLogin()">
    Login
  </button>

  <!-- Show logout if logged in -->
  <button 
    *ngIf="isLoggedIn" 
    class="auth-btn logout" 
    (click)="logout()">
    Logout
  </button>
</header>
