<app-header></app-header>

<main class="landing-container">
  <div class="left-box">
    <div class="image-placeholder">
      <!-- <img src="/public/images/pixlr-e-photo-editor.jpg" alt="landing Image"> -->
       <img src="/images/hero.webp" alt="landing image">
    </div>
  </div>
  
  <div class="right-box">
    
    <h3> Transform Your Images, Effortlessly</h3>
<p>Upload. Edit. Elevate. Your creativity deserves a canvas that keeps up.</p>
<h3>Smart Editing, Stunning Results</h3> 
<p>From subtle tweaks to bold transformations—your perfect image is just a few clicks away.</p>
<h3>Fast, Intuitive, Powerful</h3>
<p>No downloads. No fuss. Just beautiful edits in your browser.</p>

  </div>
</main>
